<%- @posts.each do |post| %>
    <article>
        <header>
            <h1><%= post.title %></h1>
        </header>
        <section>
            <p><%= post.body.split("\n\n").first %>
        </section>
        <footer>
        </footer>
    </article>
<% end %>
